@import 'side_menu';

// .main {

// }

.main-container {
  display: flex;
  justify-content: space-between;
}

.content {
  flex-grow: 1;
}


.collapse-anim {
  
  &.exited {
    max-height: 0px;
  }
  &.exiting {
    overflow: hidden;
    animation: collapseKey 500ms linear linear forwards;
  }
  &.entering {
    overflow: hidden;
    animation: collapseKey 500ms linear linear forwards reverse;
  }
  &.entered {
    max-height: 50px;
  }
}

@keyframes collapseKey {
  0% {
    max-height: 50px;
  }
  100% {
    max-height: 0px;
  }
}
